@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 记录表单
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                    </a>
                    <a href="" class="reload" data-original-title="" title="">
                    </a>
                    <a href="" class="remove" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">

                        <div class="form-group">
                            <label>信息</label>
                            <div class="input-icon">
                                <i class="fa fa-file-o"></i>
                                <input type="text" class="form-control" placeholder="标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>内容</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-actions text-center">
                        <button type="submit" class="btn blue">保存</button>
                        <button type="button" class="btn default">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->

    </div>


</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>记录列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="reload" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="remove" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    InfoName
                                </th>
                                <th>
                                   InfoContent
                                </th>
                                <th>
                                    CreateDate
                                </th>
                                <th>
                                    AlertDate1
                                </th>
                                <th>
                                    AlertDate2
                                </th>
                                <th>
                                    AlertDate3
                                </th>
                                <th>
                                    AlertDate4
                                </th>
                                <th>
                                    AlertDate5
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Mark
                                </td>
                                <td>
                                    Otto
                                </td>
                                <td>
                                    makr124
                                </td>
                                <td>
                                    <span class="label label-sm label-success">
                                        Approved
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Jacob
                                </td>
                                <td>
                                    Nilson
                                </td>
                                <td>
                                    jac123
                                </td>
                                <td>
                                    <span class="label label-sm label-info">
                                        Pending
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Larry
                                </td>
                                <td>
                                    Cooper
                                </td>
                                <td>
                                    lar
                                </td>
                                <td>
                                    <span class="label label-sm label-warning">
                                        Suspended
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    Sandy
                                </td>
                                <td>
                                    Lim
                                </td>
                                <td>
                                    sanlim
                                </td>
                                <td>
                                    <span class="label label-sm label-danger">
                                        Blocked
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

<!-- END PAGE CONTENT-->
